<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href=".\styles\Stylings.css" />
<title>MOVIE REVIEW</title>
<meta charset="utf-8" />
</head>
<body>
	<div class="tagLine">
		<p class="center">REVIEW THE WAY YOU SEE!!</p>
		<p class="right">powered by mindfire....</p>
	</div>
	<div class="searchArea">
		<div class="searchBox">
			MOVIE NAME : <input type="search" id="searchQuery" name="searchQuery"
				size=80 placeholder="movie name" required>
			<button id = "searchAction" onClick = "search()">Search</button>
		</div>
	</div>
	<p class="center movieName" id="nameOfMovie">The largest collection of
	movie reviews</p>
	<div id="result">
	</div>
	<div id = "askReview" class = "hidden">
		<p class="center customerReview" >Your review:</p>
		<textArea rows = "10" cols = "270" placeholder = "Your review....." id = "review" > </textArea>
		<button id = "submitReview" onClick = "submitReview()"> submit </button>
	</div>
</body>
<script src=".\script\fetchResults.js">
	
</script>
</html>