<div class="boxed">
	<h2>IMDB</h2>
	<br>
	<h3>* * * * *</h3>
	<br>
	<h3>In German-occupied Poland during World War II, Oskar Schindler
		gradually becomes concerned for his Jewish workforce after witnessing
		their persecution by the Nazi Germans</h3>
</div>
<br>
<div class="boxed">
	<h2>Rotten tomatoes</h2>
	<h3>* * * *</h3>
	<h3>Schindler's List blends the abject horror of the Holocaust
		with Steven Spielberg's signature tender humanism to create the
		director's dramatic masterpiece.</h3>
</div>
<br>
<div class="boxed">
	<h2>Liam Neeson</h2>
	<h3>* * * *</h3>
	<h3>I have given my best in this film wishing to be all time best
		but after all it's upto audiance to judge and I know I could have done
		better.</h3>
</div>
<br>
<div class="boxed">
	<h2>Mindfire</h2>
	<h3>* * * * *</h3>
	<h3>It's an outstanding and awesome movie and it's a great movie
		as a whole not just story wise or direction. We would like to such
		movies in future.</h3>
</div>